.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main section {
  text-align: center;
}

.section {
  margin-bottom: 3rem;
}

.title {
  margin: 2rem 0 1rem 0;
}

.cartDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  font-size: var(--text-lg);
}
.cartDescription p {
  margin-right: 1rem;
}

.checkoutButton {
  white-space: nowrap;
}

.cartProductList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartCheckout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  color: var(--neutral-900);
}

.cartCheckoutWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.cartCheckoutWrapper:not(:last-child) {
  box-sizing: border-box;
  border-bottom: 1px solid var(--neutral-300);
  padding: 0.5rem 0;
}

.subTotalPrice {
  font-size: var(--text-base);
}

.totalPrice {
  font-size: var(--text-2xl);
  font-weight: 600;
  margin: 0 0 1.5rem 0;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 640px) {
  .cartCheckout {
    margin-left: auto;
    max-width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .cartCheckout {
    margin-left: auto;
    max-width: 50%;
  }
}
