.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 18rem;
  color: var(--neutral-600);
  border: 1px solid var(--neutral-300);
  border-radius: var(--app-radius);
  background-color: var(--neutral-50);
  transition: border 150ms ease-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.card:active {
  border: 1px solid var(--primary);
}

.imageContainer {
  width: 100%;
  height: 50%;
  user-select: none;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--app-radius);
  border-top-right-radius: var(--app-radius);
}

.badge {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem 0.5rem;
  box-sizing: border-box;
  background-color: var(--primary);
  border-top-left-radius: var(--app-radius);
  color: var(--white);
  user-select: none;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.8rem;
}

.titleContainer {
  display: flex;
  gap: 0.5rem;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.priceContainer {
  display: flex;
  flex-grow: 1;
}

.price {
  margin-left: auto;
  align-self: center;
  font-size: 1.25rem;
  box-sizing: border-box;
  padding-left: 0.5rem;
  border-left: 1px solid var(--neutral-300);
  max-width: max-content;
}

.quantity {
  flex: 1;
}

.outOfStock {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: var(--app-radius);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.87);
  cursor: not-allowed;
  user-select: none;
}

.outOfStockText {
  color: var(--red-light);
  font-size: 1.5rem;
  font-weight: 600;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 768px) {
  .outOfStockText {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .card:hover {
    border: 1px solid var(--primary);
  }

  .price {
    font-size: 1.5rem;
  }
}

/**************************/
/* PREFERS REDUCED MOTION */
/**************************/
@media (prefers-reduced-motion: reduce) {
  .card {
    transition: unset;
  }
}
