.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  color: var(--neutral-900);
  border: 2px solid var(--neutral-200);
  border-radius: 1rem;
  transition: border 150ms ease-out;
}
.card:hover {
  cursor: pointer;
}

.cardImage {
  width: 100%;
  object-fit: cover;
  height: 60%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}
.cardTitle {
  flex-grow: 1;
  text-align: center;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .card:hover {
    border: 2px solid var(--primary);
  }
}
