.button {
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 1rem;
  border-radius: var(--app-radius);
  border: 2px solid transparent;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--primary);
  color: var(--white);
  transition: background-color 150ms ease-out;
  position: relative;
}

.button:active {
  background-color: var(--primary-hover);
}

.border {
  background-color: transparent;
  border: 2px solid var(--neutral-600);
  color: var(--neutral-900);
}

.disable {
  opacity: 0.3;
  cursor: default;
}

.definitelyDisabled {
  pointer-events: none;
}

.cursorPointer {
  cursor: pointer;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--primary-hover);
    color: var(--white);
  }
}

/**************************/
/* PREFERS REDUCED MOTION */
/**************************/
@media (prefers-reduced-motion: reduce) {
  .button {
    transition: unset;
  }
}
