.button {
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 150ms ease-out;
  position: relative;
}

.filled {
  background-color: var(--primary);
  color: var(--neutral-50);
}
.filled:hover {
  background-color: var(--primary-hover);
}
.border {
  border: 2px solid var(--primary);
  color: var(--primary);
}
.border:hover {
  background-color: var(--primary);
  color: var(--neutral-50);
}

.disable {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
}

.disable:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  cursor: default;
}
.definitelyDisabled {
  pointer-events: none;
}

.cursorPointer {
  cursor: pointer;
}
