.one {
  font-size: 1.75rem;
  color: var(--primary);
}
.two {
  font-size: 1.5rem;
}
.three {
  font-size: 1.25rem;
}
.four {
  font-size: 1.25rem;
}
.five {
  font-size: 1.25rem;
}
.six {
  font-size: 1.25rem;
}
