.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/************** 
  Label
**************/
.label {
  font-weight: 600;
  color: var(--neutral-600);
}
.label:first-child {
  margin-bottom: 0.25rem;
}
.errorLabel {
  color: var(--error);
}

/**************
  Input
**************/
.input {
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  border: 1px solid var(--neutral-300);
}
.errorInput {
  border: 1px solid var(--error);
}

.errorMessage {
  font-size: var(--text-sm);
  color: var(--error);
  margin-top: 0.25rem;
}
