.nav {
  display: none;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .nav {
    display: block;
    flex: 1;
    user-select: none;
  }
  .navListContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  .navList {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--neutral-600);
  }
  .navList > li {
    position: relative;
    text-transform: capitalize;
  }
}
