.productsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: flex-start;
  gap: 2rem;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 640px) {
  .categoryList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .categoryList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
