.productsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.headingContainer {
  position: relative;
  width: max-content;
}

.headingContainer h2 {
  position: relative;
  z-index: 60;
  margin-left: 1rem;
  font-size: 1.875rem;
}
.stroke {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-5deg) translate(0.2rem, 0.4rem);
  background-color: #dc9458;
  opacity: 0.5;
  width: calc(100% + 1.25rem);
  height: calc(100% - 0.85rem);
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: flex-start;
  gap: 2rem;
  padding-bottom: 2rem;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 640px) {
  .categoryList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .categoryList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
