.title {
  color: var(--neutral-900);
  font-weight: 700;
  font-size: 1.75rem;
  margin: 2rem 0;
  text-align: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 2rem;
}
.mainContent h2 {
  font-size: 1.75rem;
}

.mainContent section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.separation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--neutral-600);
  text-transform: uppercase;
  user-select: none;
  margin: 3rem 0;
}
.separation span:first-child,
.separation span:last-child {
  display: inline-block;
  background-color: var(--primary);
  width: 5rem;
  height: 0.1rem;
}
.separation span:nth-child(2) {
  margin: 0 1rem;
}

.description {
  margin: 2rem 0;
  text-align: center;
}

.mainContent section a {
  margin-top: auto;
}
/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 768px) {
  .deliverySection {
    background-image: url('../../components/images/backgrounds/deliveryBackground.svg');
    background-repeat: no-repeat;
    background-size: 14rem;
    background-position: 0 100%;
  }
  .takeAwaySection {
    background-image: url('../../components/images/backgrounds/takeAwayBackground.svg');
    background-repeat: no-repeat;
    background-size: 14rem;
    background-position: 100% 100%;
  }
}
