.footer {
  background-color: var(--neutral-50);
  width: 100%;
  padding: var(--app-mobile-padding);
  box-sizing: border-box;
  border-top: 1px solid var(--neutral-300);
}

.blockContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.block h3 {
  font-weight: 600;
  font-size: 1.25rem;
  padding: 1.5rem 0;
  color: var(--neutral-600);
}

.block li {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: var(--neutral-600);
}
.block li:active {
  text-decoration: underline;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 640px) {
  .blockContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .block {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: var(--app-desktop-padding);
  }
}

@media screen and (min-width: 1024px) {
  .blockContainer {
    justify-content: space-around;
  }

  .block li:hover {
    text-decoration: underline;
  }
}
