.switcherButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 1.3rem;
  border: 1px solid transparent;
  transition: border-color 150ms ease-out;
  padding: 0 0.8rem;
  transform: translateX(-0.5rem);
}
.switcherButton:hover {
  border: 1px solid var(--neutral-300);
}

.switcherButton svg {
  padding: 0.4rem;
  border-radius: 50%;
}
.switcherButton:hover svg {
  background-color: var(--neutral-300);
}

.switcherButton span {
  padding-right: 0.5rem;
}

.light {
  fill: var(--neutral-50);
  transform: rotate(360deg);
}

.dark {
  fill: #ffce45;
  stroke: transparent;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .switcherButton {
    transform: translateX(0);
  }
}
