.switcherButton {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1.5rem;
  border: 1px solid var(--neutral-300);
  box-sizing: border-box;
  height: 2.5rem;
}

.switcherButton svg {
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0.2rem;
  margin: 0 0.3rem 0 0.3rem;
}
.switcherButton:active svg {
  background-color: var(--neutral-300);
}

.switcherButton span {
  font-weight: 500;
  padding-right: 0.6rem;
}

.light {
  fill: var(--neutral-50);
  transform: rotate(360deg);
}

.dark {
  fill: #ffce45;
  stroke: transparent;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .switcherButton:hover svg {
    background-color: var(--neutral-300);
  }
}
