.logo {
  font-size: 1.625rem;
  font-weight: 800;
  cursor: pointer;
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 0.5rem 0;
  border-top: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
}

.light {
  color: var(--primary);
}

.dark {
  color: var(--neutral-600);
}
