.logo {
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--primary);
  cursor: pointer;
  user-select: none;
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 0.5rem 0;
  border-top: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
}
