.navigation {
  position: sticky;
  top: var(--mobile-top-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid var(--neutral-300);
  border-right: 1px solid var(--neutral-300);
  border-bottom: 1px solid var(--neutral-300);
  border-bottom-left-radius: var(--app-radius);
  border-bottom-right-radius: var(--app-radius);
  background-color: var(--neutral-50);
  color: var(--neutral-600);
  z-index: 10;
  width: 100%;
  height: var(--mobile-top-nav-category-height);
  overflow: auto;
  box-shadow: var(--shadow-1);
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  padding: 0 var(--app-mobile-padding);
}

.navigation button {
  white-space: nowrap;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 768px) {
  .navigation li {
    padding: 0 var(--app-desktop-padding);
  }
}
@media screen and (min-width: 1024px) {
  .navigation {
    top: var(--desktop-top-header-height);
    height: var(--mobile-top-nav-category-height);
  }

  .navigation ul {
    justify-content: space-evenly;
    gap: 0;
  }

  .navigation a:hover {
    color: var(--neutral-900);
  }
}

/**************************/
/* PREFERS REDUCED MOTION */
/**************************/
@media (prefers-reduced-motion: reduce) {
  .navigation button {
    transition: unset;
  }
}
