.arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
}

.arrow {
  border-color: currentcolor;
  border-width: 0 3px 3px 0;
  border-style: solid;
  display: inline-block;
}

.caret {
  border-color: currentcolor transparent;
  border-style: solid;
  border-width: 0.5rem 0.4rem 0;
  content: '';
  position: relative;
  top: 0.25rem;
  transform: translateY(-50%);
}

/* Positions */
.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.top {
  transform: rotate(-135deg);
}

.bottom {
  transform: rotate(45deg);
}
