.one {
  color: var(--neutral-900);
  font-weight: 700;
  font-size: var(--text-3xl);
  line-height: 2.25rem;
}
.two {
  color: var(--neutral-700);
  font-weight: 600;
  font-size: var(--text-2xl);
  line-height: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.three {
  font-size: var(--text-xl);
  line-height: 1.75rem;
}
.four {
  font-size: var(--text-lg);
  line-height: 1.75rem;
}
.five {
  font-size: var(--text-base);
  line-height: 1.5rem;
}
.six {
  font-size: var(--text-base);
  line-height: 1.5rem;
}

.error {
  color: var(--error);
}
