.one {
  color: var(--neutral-900);
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.two {
  color: var(--neutral-700);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.three {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.four {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.five {
  font-size: 1rem;
  line-height: 1.5rem;
}
.six {
  font-size: 1rem;
  line-height: 1.5rem;
}

.error {
  color: var(--error);
}
