.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.productImage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  box-sizing: border-box;
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.productInfo {
  display: flex;
  flex-direction: column;
}
.productInfo section {
  margin-bottom: 1.5rem;
}
.productPrice {
  font-size: 2rem;
  margin: 1rem 0 1.5rem 0;
  color: var(--neutral-900);
}

.productH2 {
  font-size: 1.25rem;
  margin-bottom: 0rem;
  text-transform: capitalize;
  font-weight: 500;
}

.productDescription {
  color: var(--neutral-600);
}

.productQuantity {
  margin: 1rem 0 2rem 00;
  max-width: 20rem;
  width: 100%;
  align-self: center;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 768px) {
  .productContainer {
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    gap: 2rem;
  }

  .productImage {
    height: 40rem;
    width: 60%;
  }

  .productInfo {
    height: 40rem;
    width: 40%;
    padding: 1rem 0;
    box-sizing: border-box;
  }

  .productPrice {
    font-size: 2rem;
    margin: 2rem 0 2.5rem 0;
    color: var(--neutral-900);
  }

  .productQuantity {
    flex-grow: 1;
    margin-bottom: 0;
    align-self: flex-start;
    align-items: flex-end;
    justify-content: start;
  }
}
