.cartProduct {
  display: flex;
  align-items: center;
  color: var(--neutral-600);
  border: 1px solid var(--neutral-300);
  box-sizing: border-box;
  background-color: var(--neutral-50);
  height: 10rem;
}

.imageContainer {
  width: 8rem;
  height: 100%;
  user-select: none;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartProductContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.aboutContainer {
  display: flex;
  flex: 1;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  box-sizing: border-box;
  height: 100%;
}

.title {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.aboutContainer span {
  font-size: 0.9rem;
  line-height: 1.125rem;
}

.removeProductButton {
  display: flex;
  color: var(--red);
  font-size: 0.8rem;
  margin-left: 1rem;
}
.removeProductButton:active {
  text-decoration: underline;
}

.inStock {
  color: var(--valid);
}
.outOfStock {
  color: var(--red);
}

.priceAndQuantityContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  box-sizing: border-box;
}

.price {
  font-size: 1.25rem;
  align-items: center;
}

.quantity {
  flex-grow: 0;
  margin-left: auto;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 640px) {
  .imageContainer {
    width: 8rem;
  }
  .title {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .aboutContainer span {
    font-size: 1rem;
    line-height: unset;
  }
  .removeProductButton {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .imageContainer {
    width: 13rem;
  }
}

@media screen and (min-width: 1024px) {
  .imageContainer {
    width: 20rem;
  }

  .removeProductButton:hover {
    text-decoration: underline;
  }

  .price {
    font-size: 1.5rem;
  }
}
