.loader {
  display: block;
  margin: 0 auto;
  animation: spin 2s linear infinite;
  will-change: transform;
  max-height: 3rem;
}

.loadingCircle {
  stroke-dasharray: 160;
  stroke-dashoffset: 160;
  stroke-linecap: round;
  animation: loading-circle 1.7s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  transform: translateZ(0);
  transform-origin: center;
  will-change: stroke-dashoffset;
  stroke-width: 4px;
  stroke: var(--primary);
}

/**************************/
/******* KEYFRAMES ********/
/**************************/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading-circle {
  0% {
    stroke-dashoffset: 143;
    transform: scaleY(1);
  }
  49.99% {
    stroke-dashoffset: 0;
    transform: scaleY(1);
  }
  50% {
    stroke-dashoffset: 0;
    transform: scaleY(-1) rotate(25deg);
  }
  100% {
    stroke-dashoffset: 143;
    transform: scaleY(-1) rotate(-32deg);
  }
}
