.activeLink {
  padding: 0.5rem 0;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.25rem;
  transition: color 150ms ease-out;
}
.activeLink::after {
  content: '';
  position: absolute;
  left: 0;
  top: calc(100% - 2px);
  transition: transform 200ms ease-out;
  display: inline-block;
  height: 2px;
  width: 100%;
  transform: translateX(-101%);
  background: var(--primary) none repeat scroll 0% 0%;
}
.activeLink:hover::after {
  transform: translateX(0);
}
.active.activeLink::after {
  transform: translateX(0);
}
