.productList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 3rem;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 768px) {
  .productList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }
}
