.nav {
  display: none;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
    flex: 1;
  }

  .navLinkList {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
    color: var(--neutral-600);
    width: 100%;
  }
  .navLinkList:last-child {
    justify-content: end;
  }
  .navLinkList > li {
    position: relative;
    text-transform: capitalize;
  }
  .navItem {
    font-size: 1.25rem;
  }
}
