.restaurantsTitle {
  font-weight: 700;
  margin: 2rem 0 1rem 0;
}

.restaurantsContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 2rem;
}
.restaurantsContent section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .restaurantsContent {
    flex-direction: row;
  }

  .restaurantsContent section:first-child {
    margin-right: 2rem;
  }
  .restaurantsContent section {
    margin-bottom: 0;
  }
}
