.userIcon {
  display: flex;
  color: var(--neutral-600);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.userIcon:active {
  color: var(--primary);
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .userIcon:hover {
    color: var(--primary);
  }
}
