.profileTitle {
  font-weight: 700;
  margin-bottom: 2rem;
}

.profilePicture {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.userInformation {
  margin-bottom: 2rem;
}

.userInformation span {
  font-weight: 600;
}
