.cartCountContainer {
  display: flex;
  position: relative;
  width: max-content;
  padding-right: 1rem;
}
.cartCountContainer:hover .cartSvg {
  fill: var(--primary);
}

.cartSvg {
  fill: var(--black);
  width: 2rem;
  height: 2rem;
}

.notEmptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.7rem;
  right: 0;
  width: 1.4rem;
  font-size: 0.938rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 50%;
  user-select: none;
}
.emptyCart {
  display: none;
}
