.cartCountContainer {
  display: inline-flex;
  position: relative;
  margin-right: 0.5rem;
  vertical-align: bottom;
}
.cartCountContainer:active .cartSvg {
  fill: var(--primary);
}

.cartSvg {
  fill: var(--neutral-600);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.notEmptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(1.2rem, -0.6rem);
  width: 1.7rem;
  height: 1.7rem;
  font-size: 0.938rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 50%;
  user-select: none;
}
.emptyCart {
  position: absolute;
  transform: scale(0);
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .cartCountContainer:hover .cartSvg {
    fill: var(--primary);
  }
}
