.viewCartContainer {
  position: fixed;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
  transform: scale(0);
  will-change: transform;
  transition: transform 150ms ease-out, background-color 150ms ease-out;
  z-index: 70;
}

.viewCart {
  display: inline-block;
  box-shadow: var(--shadow-1);
}

.active {
  transform: scale(1);
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .viewCartContainer {
    transform: scale(0);
  }
}

/**************************/
/* PREFERS REDUCED MOTION */
/**************************/
@media (prefers-reduced-motion: reduce) {
  .viewCartContainer {
    transition: unset;
  }
}
