.blackFilter {
  position: fixed;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 90;
  background-color: transparent;
  transform: scale(0, 0);
  transition: background-color 350ms var(--transition-easeInOut);
}
.activeBlackFilter {
  transform: scale(1, 1);
  background-color: rgba(0, 0, 0, 0.5);
}

.mobileNavContainer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.mobileNavContainerOpened {
  display: flex;
  animation: appear-mobile-navigation-effect 300ms var(--transition-easeInOut);
}
@keyframes appear-mobile-navigation-effect {
  0% {
    transform: translate(200%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.mobileNavigation {
  min-width: 18rem;
  padding: 1.5rem 1.5rem 4.5rem 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--neutral-100);
  color: var(--neutral-600);
  height: 100%;
  overflow-y: auto;
}

.topRightCloseButton {
  position: absolute;
  align-self: end;
}

.firstNavigation {
  border-top: 1px solid var(--primary);
  margin-top: 2.9rem;
  padding-top: 1rem;
}
.firstNavigation > li {
  margin-bottom: 1rem;
  position: relative;
  text-transform: capitalize;
}

.secondNavigation > li {
  padding: 0.3rem 0;
  position: relative;
}
.secondNavigation > li:not(:last-child) {
  margin-bottom: 1rem;
}

.logo {
  padding: 0;
  margin: 0;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .blackFilter {
    display: none;
  }
}
