.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 18rem;
  color: var(--neutral-600);
  border: 1px solid var(--neutral-300);
  border-radius: var(--app-radius);
  background-color: var(--neutral-50);
  transition: border 150ms ease-out;
  box-shadow: var(--shadow-1);
}

.card::before {
  content: '';
  position: absolute;
  left: -0.2rem;
  top: -0.2rem;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: var(--app-radius);
  pointer-events: none;
  transition: border-color 200ms;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: var(--neutral-300);
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem 0.5rem;
  box-sizing: border-box;
  width: max-content;
  font-size: var(--text-sm);
  background-color: var(--primary);
  color: var(--white);
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.8rem;
}

.titleContainer {
  display: flex;
  flex: 1;
  gap: 0.2rem;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 3.3rem;
}

.priceContainer {
  display: flex;
  flex-grow: 1;
}

.price {
  margin-left: auto;
  align-self: flex-start;
  font-size: var(--text-xl);
  box-sizing: border-box;
  padding-left: 0.5rem;
  border-left: 1px solid var(--neutral-300);
  max-width: max-content;
}

.outOfStock {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.87);
  cursor: not-allowed;
}

.outOfStockText {
  color: var(--red-light);
  font-size: var(--text-2xl);
  font-weight: 600;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 768px) {
  .outOfStockText {
    font-size: var(--text-3xl);
  }
}

@media screen and (min-width: 1024px) {
  .card:hover::before {
    border-color: var(--primary);
  }

  .price {
    font-size: var(--text-2xl);
  }
}

/**************************/
/* PREFERS REDUCED MOTION */
/**************************/
@media (prefers-reduced-motion: reduce) {
  .card {
    transition: unset;
  }
  .card::before {
    transition: unset;
  }
}
