@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/Baloo_2/Baloo2-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/Baloo_2/Baloo2-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/Baloo_2/Baloo2-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/Baloo_2/Baloo2-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/Baloo_2/Baloo2-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
