@import url('./reset.css');
@import url('./fonts.css');
@import url('./loader.css');
@import url('./slider.css');

:root {
  --black: #171717;
  --gray: #595959;
  --lightGray: #d3d3d3;
  --white: #fff;

  --primary: #72391d;
  --primary-hover: #b85c2e;
  --primary-bg: #72391d21;

  --secondary: #872121;
  --secondary-hover: #d14242;
  --secondary-bg: #8721211c;

  --error: #ad2216;

  --transition: cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

html[data-theme='dark'] {
  --black: #ffffff;
  --gray: #cecece;
  --lightGray: #3d3d3d;
  --white: #171717;

  --primary: #da6d36;
}

*:focus-visible {
  outline: solid blue 2px;
}

*:focus:not(:focus-visible) {
  outline: none;
}
html {
  font: 87.5% sans-serif;
}

body,
select {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
a {
  color: inherit;
  text-decoration: none;
}
svg {
  transition: stroke 150ms ease-out, fill 150ms ease-out, color 150ms ease-out,
    background-color 150ms ease-out, transform 300ms var(--transition);
  max-width: 1.7rem;
  max-height: 1.7rem;
  flex-shrink: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  position: relative;
  overflow-x: hidden;
}
#not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#not-found h1 {
  transform: translateY(-100%);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--error);
  text-align: center;
}
main {
  flex: 1;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
#app > main {
  padding-top: 4rem;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.sidePadding {
  padding: 0 1.5rem;
  box-sizing: border-box;
}
.capitalize::first-letter {
  text-transform: capitalize;
}

/* Controle buttons in Openlayers */
.ol-control button {
  background-color: rgba(0, 59, 136, 0.7) !important;
}
.ol-control button:hover {
  cursor: pointer;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  #app > main {
    padding-top: unset;
  }
}
