@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.swiper-pagination-bullet {
  background-color: var(--white);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--white);
}
