.blackFilter {
  position: fixed;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 100;
  background-color: transparent;
  transform: scale(0, 0);
  transition: background-color 350ms ease-in-out;
}
.activeBlackFilter {
  transform: scale(1, 1);
  background-color: rgba(0, 0, 0, 0.5);
}

.sideNavContainer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.sideNavContainerOpened {
  display: flex;
  animation: appear-side-navigation-effect 300ms ease-in-out;
}
@keyframes appear-side-navigation-effect {
  0% {
    transform: translate(200%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.sideNavigation {
  min-width: 18rem;
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--neutral-100);
  color: var(--neutral-900);
  height: 100%;
  overflow-y: auto;
}
.sideNavigation li {
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
}
.topRightCloseButton {
  position: absolute;
  align-self: end;
}
.firstNavigation {
  border-top: 1px solid var(--primary);
  margin-top: 2.5rem;
  padding-top: 0.5rem;
}
.secondNavigation li {
  padding: 0.3rem 0;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .blackFilter {
    display: none;
  }
}
