.locationContainer {
  width: 100%;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.address {
  text-align: center;
  font-size: 0.9rem;
}

.title {
  font-size: 1.25rem;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.link {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.itineraryIcon {
  stroke: currentColor;
  width: 0.8rem;
  margin-right: 0.3rem;
}

/**************************/
/****** MEDIA QUERIES *****/
/**************************/
@media screen and (min-width: 1024px) {
  .locationContainer {
    height: 35.2rem;
  }
}
