.button {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--primary);
  transform: scale(0);
  will-change: transform;
  transition: transform 150ms ease-out, background-color 150ms ease-out;
  z-index: 70;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.active {
  transform: scale(1);
}
.svgContainer {
  transform: translateY(0.1rem);
}

/**************************/
/* PREFERS REDUCED MOTION */
/**************************/
@media (prefers-reduced-motion: reduce) {
  .button {
    transition: unset;
  }
}
